html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.intro {
  background: #3a3a44;
  padding: 3% 0;
}

.intro-wrapper {
  margin: 0 auto;
  width: 97%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.intro-wrapper::after {
  clear: both;
  content: "";
  display: table;
}

@media screen and (max-width: 480px) {
  .intro-wrapper {
    width: 94%;
  }
}

.intro-pics {
  margin-right: 0;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.intro-pics::after {
  clear: both;
  content: "";
  display: table;
}

.intro-pics .splash-01 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
}

.intro-pics .splash-01:last-child {
  margin-right: 0;
}

@media screen and (max-width: 480px) {
  .intro-pics .splash-01 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-bottom: 1%;
  }
  .intro-pics .splash-01:last-child {
    margin-right: 0;
  }
}

.intro-pics .splash-01 img {
  width: 100%;
  height: auto;
}

.intro-pics .splash-02 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  height: 100%;
}

.intro-pics .splash-02:last-child {
  margin-right: 0;
}

@media screen and (max-width: 480px) {
  .intro-pics .splash-02 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
  }
  .intro-pics .splash-02:last-child {
    margin-right: 0;
  }
}

.intro-pics .splash-02 img {
  width: 100%;
  height: auto;
  margin-bottom: 3%;
}

.intro-pics .splash-02 .splash-02-1,
.intro-pics .splash-02 .splash-02-2 {
  float: left;
  display: block;
  margin-right: 4.82916%;
  width: 47.58542%;
  height: auto;
}

.intro-pics .splash-02 .splash-02-1:last-child,
.intro-pics .splash-02 .splash-02-2:last-child {
  margin-right: 0;
}

@media screen and (max-width: 480px) {
  .cloud-moon {
    display: none;
  }
}

.info-container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.info-container::after {
  clear: both;
  content: "";
  display: table;
}

.intro-info {
  line-height: 2;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 51.17883%;
  font-size: 1.1rem;
  line-height: 1.5;
  border-top: 3px solid slategray;
  padding-top: 3%;
}

.intro-info:last-child {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .intro-info {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-left: 17.05961%;
  }
  .intro-info:last-child {
    margin-right: 0;
  }
}
