html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.moon-phase {
  padding-top: 3%;
}

.hide {
  display: none;
}

.moon-pics {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.moon-pics::after {
  clear: both;
  content: "";
  display: table;
}

.moon-pics .moon-01 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
}

.moon-pics .moon-01:last-child {
  margin-right: 0;
}

.moon-pics .moon-01 img {
  width: 100%;
  height: auto;
}

.moon-pics .moon-02 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  height: 100%;
}

.moon-pics .moon-02:last-child {
  margin-right: 0;
}

.moon-pics .moon-02 img {
  width: 100%;
  height: auto;
  margin-bottom: 3%;
}

.moon-pics .moon-02 .moon-02-1 {
  height: auto;
}

.lunar-picture {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-bottom: 20px;
}

.lunar-picture:last-child {
  margin-right: 0;
}

.lunar-picture img {
  width: 100%;
}

.lunar-content {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.lunar-content::after {
  clear: both;
  content: "";
  display: table;
}

.lunar-content .lunar-specs {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
}

.lunar-content .lunar-specs:last-child {
  margin-right: 0;
}

.lunar-content .lunar-specs .spec-container {
  border-top: 2px solid white;
}

.steps {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.steps::after {
  clear: both;
  content: "";
  display: table;
}

.steps .action-header, .steps .action-holder {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%;
}

.steps .action-header:last-child, .steps .action-holder:last-child {
  margin-right: 0;
}

.steps .action-holder {
  border-top: 2px solid white;
}

.action1,
.action2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.action1 p,
.action2 p {
  text-align: left;
}

.fact,
.task {
  line-height: 2;
  text-align: left;
}
