// ==================
// STYLE.SCSS
// PROJECT 5 - BY THE MOON - JOANNE HO
// ==================

@import 'setup';
@import 'variables';
// BOURBON
@import "bourbon";
@import "neat";
// 
$mobile: new-breakpoint(max-width 480px);
$mobile-tablet: new-breakpoint(max-width 520px);//
$tablet: new-breakpoint(max-width 767px);
$desktop: new-breakpoint(min-width 768px);

@import 'intro';
@import 'date-picker';
@import 'results';

body {
	background-size: cover;
	background-color: lightgray;
	color:slategray;
	font-family:sans-serif;
	font-size:14px;
}
h1,
h2, 
h3,
h4,
h5,
h6 {
	margin:0;
	padding:0;
}
h1{
	margin-top:5rem;
	font-size:72px;
	@include header;
	text-align:left;//
	@include media($tablet) {
		font-size:58px;
	}
	@include media($mobile) {
		margin-top:3rem;
		font-size:38px;
	}
}
h2 {
	margin-top:3rem;
	font-size:72px;
	@include header;
	text-align:left;
	color:slategray;//
		@include media($tablet) {
			font-size:38px;
		}
		@include media($mobile) {
		font-size:38px;
		}
	}
h3 {
	@include header;
	text-align:left;
	font-size:28px;//
	@include media($tablet) {
		font-size:24px;
	}
	@include media($mobile) {
		font-size:18px;
	}
}
h4 {
	@include header;
	font-size:26px;
	margin:1rem 0;
}
.wrapper {
	@include wrapper;
}
.header {
	background: white;
	overflow:hidden;
}




// ========================
// FOOTER
.footer-wrapper {
	@include footerwrapper;
}
.footer {
	background:black;
	p {
		@include header;
		font-size:12px;
		margin:0;
		color:dimgray;
		padding:3% 0;
		a {
			// text-decoration:none;
			color: dimgray;
		}
	}
}
// ========================

@import 'date-picker';










