// ==================
// VARIABLES
// PROJECT 5 - BY THE MOON - JOANNE HO
// ==================


$lightgray: rgb(211,211,211);
$smokygray: rgb(58,58,68);

@mixin wrapper(){
	margin:0 auto;
	width: 90%;
	text-align:center;
	// padding:10%;
}
@mixin footerwrapper{
	margin:0 auto;
	// width:90%;
	text-align:left;
	padding:3% ;
}
@mixin header(){
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
}
@mixin paragraph {
	line-height:2;
	font-size:1rem;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
}